<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Charity-gator</title>

  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&family=Ubuntu:ital,wght@1,500&display=swap" rel="stylesheet">
<link rel="icon" type="image/x-icon" href="/img/kk.png">
  <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
<!--css stylesheets -->
<link rel="stylesheet" href="/css/styles.css">
<!--awesome fonts-->
<script src="https://kit.fontawesome.com/548d4ef203.js" crossorigin="anonymous"></script>

</head>

<body>



<section id="title">

    <!-- Nav Bar -->

      <div class="container-fluid">
        <nav class="navbar navbar-expand-md navbar-light ">
          <a class="navbar-brand"href ="">Charity-gator</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

    <ul class="navbar-nav ms-auto">
        <li class="nav-item">
            <a class="nav-link" href="#footer">About</a>
        </li>
         <li class="nav-item">
            <a class="nav-link" href="#explore">Explore</a>
        </li>
         <li class="nav-item">
            <a class="nav-link" href="#cta">Register</a>
        </li>
        <li class="nav-item">
           <a class="nav-link" href="/Donate">Donate</a>
       </li>

    </ul>
    </div>


     </nav>




    <!-- Title -->
 <div class="row">


    <div class="col-lg-6 jhgf">
      <div>
        <h1>Where Great Ideas Meet Great Opportunities.</h1>
      </div>
      <div>
        <a href="/registerngo"><button type="download-button" class="btn btn-dark btn-lg " >Register as NGO</button></a>
        <a href="/registerphil"><button type="download-button" class="btn btn-light btn-lg">Register as Donater</button></a>
      </div>


    </div>
    <div class="col-lg-6 title-image">
      <img src="/img/kk.png"  />
    </div>
 </div>
</div>

  </section>


  <!-- Features -->

<section id="features">
  <div class="inf">
    <H3>OUR WORK</H3>
    <P>
      In today’s world, there is a growing need
for an effective platform to connect philanthropists and NGOs to help positively impact
society. We’re on a mission to change that.
    </P>

  </div>

<div class="container">
  <div class="row">
    <div class="col-lg-4 ">

      <div class="feature-box">
    <h3>68,754</h3>
    <p>Projects Funded</p>
  </div>
    </div>
    <div class="col-lg-4 ">

      <div class="feature-box">

    <h3>15,698,917 </h3>
    <p>People will be served</p>
  </div>
    </div>
    <div class="col-lg-4 ">

      <div class="feature-box">
      
            <h3>64</h3>
    <p>Countries</p>
  </div>
  </div>
  </div>
</div>
</section>


<div class="explore">

  <div class="cards">
    <h1>EXPLORE!</h1>
    <div class="search-wrapper">
      <label for="search">Search Users</label>
      <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.."/>
    </div>
  </form>


    <div class="gallery" id="ngos">
      <ul id="myUL">
        <li id="seeds">
          <div class="card" style="width: 18rem;">
          <div class="card-body" id="seed">
            <h5 class="card-title">SEEDS</h5>
            <p class="card-text">The acronym SEEDS stands for Sustainable Environment and Ecological Development Society. </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Envoirment</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Chat</a>
            <a href="#" class="card-link">Donate</a>
          </div>
          </div>
        </li>
        <li id="goonj">
          <div class="card" style="width: 18rem;">

          <div class="card-body" id="goon">
            <h5 class="card-title">Goonj</h5>
            <p class="card-text">Goonj has been around for more than two decades in issues like rural infrastructure, and disaster relief.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Envoirment</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Chat</a>
            <a href="#" class="card-link">Donate</a>
          </div>
          </div>
        </li>

        <li>
          <div class="card" style="width: 18rem;">

          <div class="card-body" id="pratham">
            <h5 class="card-title">Pratham</h5>
            <p class="card-text">This is one of the largest NGOs in India and focuses on quality education through innovative learning </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Youth</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Chat</a>
            <a href="#" class="card-link">Donate</a>
          </div>
          </div>
        </li>

        <li id="helpage">
          <div class="card" style="width: 18rem;">

          <div class="card-body" id="helpag">
            <h5 class="card-title">HelpAge</h5>
            <p class="card-text">. HelpAge advocates for causes like Universal Pension, Elder Abuse and elder-friendly policies.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Women</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Chat</a>
            <a href="#" class="card-link">Donate</a>
          </div>
          </div>
        </li>



      </ul>
      <ul>

                <li id="yuvaunstoppable">
                  <div class="card" style="width: 18rem;">

                  <div class="card-body" id="yuvaun">
                    <h5 class="card-title">YUVA Unstoppable</h5>
                    <p class="card-text">It is now a movement aiming to make a difference in the lives of children at the bottom of pyramid.</p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Youth</li>
                  </ul>
                  <div class="card-body">
                    <a href="#" class="card-link">Chat</a>
                    <a href="#" class="card-link">Donate</a>
                  </div>
                  </div>
                </li>

                <li id="mynamahila">
                  <div class="card" style="width: 18rem;">

                  <div class="card-body" id="mynama">
                    <h5 class="card-title">Myna Mahila Foundatione</h5>
                    <p class="card-text">MMF is working to empowering women by encouraging discussion of taboo subjects such as menstruation</p>
                    </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Women</li>
                  </ul>
                  <div class="card-body">
                    <a href="#" class="card-link">Chat</a>
                    <a href="#" class="card-link">Donate</a>
                  </div>
                  </div>
                </li>
                <li id="youth">
                  <div class="card" style="width: 18rem;">

                  <div class="card-body" >
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Youth</li>
                  </ul>
                  <div class="card-body">
                    <a href="#" class="card-link">Chat</a>
                    <a href="#" class="card-link">Donate</a>
                  </div>
                  </div>
                </li>

                <li id="sakshi">
                  <div class="card" style="width: 18rem;">

                  <div class="card-body" >
                    <h5 class="card-title">Sakshi</h5>
                    <p class="card-text">It is the pioneer in working against Sexual Harassment and Child Sexual Abuse in India. </p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Women</li>
                  </ul>
                  <div class="card-body">
                    <a href="#" class="card-link">Chat</a>
                    <a href="#" class="card-link">Donate</a>
                  </div>
                  </div>
                </li>
      </ul>
      <ul>

                <li id="yuvaunstoppable">
                  <div class="card" style="width: 18rem;">

                  <div class="card-body" id="yuvaun">
                    <h5 class="card-title">YUVA Unstoppable</h5>
                    <p class="card-text">It is now a movement aiming to make a difference in the lives of children at the bottom of pyramid.</p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Youth</li>
                  </ul>
                  <div class="card-body">
                    <a href="#" class="card-link">Chat</a>
                    <a href="#" class="card-link">Donate</a>
                  </div>
                  </div>
                </li>

                <li id="mynamahila">
                  <div class="card" style="width: 18rem;">

                  <div class="card-body" id="mynama">
                    <h5 class="card-title">Myna Mahila Foundatione</h5>
                    <p class="card-text">MMF is working to empowering women by encouraging discussion of taboo subjects such as menstruation</p>
                    </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Women</li>
                  </ul>
                  <div class="card-body">
                    <a href="#" class="card-link">Chat</a>
                    <a href="#" class="card-link">Donate</a>
                  </div>
                  </div>
                </li>
                <li id="youth">
                  <div class="card" style="width: 18rem;">

                  <div class="card-body" >
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Youth</li>
                  </ul>
                  <div class="card-body">
                    <a href="#" class="card-link">Chat</a>
                    <a href="#" class="card-link">Donate</a>
                  </div>
                  </div>
                </li>

                <li id="sakshi">
                  <div class="card" style="width: 18rem;">

                  <div class="card-body" >
                    <h5 class="card-title">Sakshi</h5>
                    <p class="card-text">It is the pioneer in working against Sexual Harassment and Child Sexual Abuse in India. </p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Women</li>
                  </ul>
                  <div class="card-body">
                    <a href="#" class="card-link">Chat</a>
                    <a href="#" class="card-link">Donate</a>
                  </div>
                  </div>
                </li>
      </ul>
      <ul>
        <li id="worldwildlife">
          <div class="card" style="width: 18rem;">

          <div class="card-body" >
            <h5 class="card-title">World Wildlife Fund for Nature</h5>
            <p class="card-text">Works in the field of wilderness preservation and reduction of human impact on the environment</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Envoirment</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Chat</a>
            <a href="#" class="card-link">Donate</a>
          </div>
          </div>
        </li>

        <li id="childrightsandyou">
          <div class="card" style="width: 18rem;">
          <div class="card-body" id="">
            <h5 class="card-title">Child Rights and You</h5>
            <p class="card-text">The organization focuses on changing behaviours and practices at the grassroots level.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Youth</li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Chat</a>
            <a href="#" class="card-link">Donate</a>
          </div>
          </div>
        </li>

        <li id="ngofeul">
          <div class="card" style="width: 18rem;">

          <div class="card-body" id="ngof">
            <h5 class="card-title">NGO FUEL</h5>
            <p class="card-text">This nonprofit has a mission to create a supporting community for youth in India.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Youth</li>

          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Chat</a>
            <a href="#" class="card-link">Donate</a>
          </div>
          </div>
        </li>

        <li id="manndeshi">
          <div class="card" style="width: 18rem;">

          <div class="card-body" id="manndi">
            <h5 class="card-title">Mann Deshi</h5>
            <p class="card-text"> Mann Deshi follows approach that includes water conservation for small farmers and community radio.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Envoirment</li>

          </ul>
          <div class="card-body">
            <a href="#" class="card-link">Chat</a>
            <a href="#" class="card-link">Donate</a>
          </div>
          </div>

        </li>
      </ul>















    </div>
  </div>
</div>

</div>


<!------newsletter---->

<div class="page">

  <h4 class="page-head">Stay Connected to Us By following Our Newsletter!</h4>


    <form class="page-wala"action="#">
      <input type="https://www.google.com/" placeholder="Email (e.g. someone@host.com)" />
      <input type="submit" value="Subscribe" />
    </form>



</div>



  <!-- Testimonials -->

  <section id="testimonials">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" style="background-color:#95E1D3">
      <h2></h2>
      <img class="testimonial-image" src="/img/images.jpeg" alt="/img/images.jpeg">
      <br />
      <em>The Philanthropic work creates a great Influence on Society and Changing Minds of people for a brighter future of the Underprivileged children’s....................................</em>
      <p>
                                                           -John Doe, Texas
      </p>
    </div>
    <div class="carousel-item" style="background-color:#95E1D3;">
       <h2 class="testimonial-text"></h2>
        <img class="testimonial-image" src="/img/ooo.jpg" alt="/img/ooo.jpg">
        <br />
        <em>“I am very pleased to say that my experience of associating with Abhilasha Foundation has been excellent and I feel it is a privilege too. My appreciation for the excellent work Abhilasha is carrying out in uplifting under- privileged children. By providing opportunities to needy children, Abhilasha is investing in a better future for India, since children are the future. </em>
        <p>
                                                             -Carlin, Ohio
        </p>
    </div>
    <div class="carousel-item" style="background-color:#95E1D3;">
       <h2 class="testimonial-text"></h2>
        <img class="testimonial-image" src="/img/oo.jpg" alt=>
        <br />
        <em>"It’s great time to work with Abhilasha Foundation. We are very lucky that we can help poor children to save their life for those who are critically ill. We pray to god that Abhilasha Foundation reach at top of NGO sector.</em>
        <p>
                                                             -Angela, New Jersey
        </p >
    </div>

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>









  </section>









  <!-- Call to Action -->

  <section id="cta">

    <h3 class="cta-h3">"Donating is a simple act with a powerful impact."</h3>
    <button type="download-button" class="btn btn-dark btn-lg" >  Register as NGO</button>
    <button type="download-button" class="btn btn-light btn-lg"> Register as Donater</button>

  </section>


  <!-- Footer -->

  <footer id="footer">
    <div class="btn-group" role="group" aria-label="Basic example">
      <i class="social-icon fa-brands fa-twitter"></i>
      <i class="social-icon fa-brands fa-facebook"></i>
      <i class="social-icon fa-brands fa-instagram"></i>
      <i class="social-icon fa-solid fa-envelope"></i>

  </div>

    <p>© Copyright Charity-gator</p>

  </footer>

  <!-- Start of ChatBot (www.chatbot.com) code -->
  <script type="text/javascript">
      window.__be = window.__be || {};
      window.__be.id = "63e794a419ca9b0007c10425";
      (function() {
          var be = document.createElement('script'); be.type = 'text/javascript'; be.async = true;
          be.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.chatbot.com/widget/plugin.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(be, s);
      })();



      function myFunction() {
        // Declare variables
        var input, filter, ul, li, a, i, txtValue;
        input = document.getElementById('myInput');
        filter = input.value.toUpperCase();
        //console.log(document.getElementById(input.value));
        ngos=document.getElementById("ngos");
        li=ngos.getElementsByTagName('li')
         //ul = document.getElementById("myUL");
        // li = ul.getElementsByTagName('li');


        // Loop through all list items, and hide those who don't match the search query
        for (i = 0; i < li.length; i++) {
          li[i].style.display="none";
          document.getElementById(input.value).style.display="";
        }

      }


  </script>
  <!-- End of ChatBot code -->
</body>

</html>
